@import './Arrows.css';
@import './Background.css';
@import './PageLayout.css';

.Title {
    top: 27.5vh;
    left: 100vh;
    position: absolute;
    z-index: 2;
    font-size: 9vh;
    color: white;
    text-shadow: black 1px 2px 2px ;
}

.box {
    width: 80vh;
    height: 80vh;
    margin-left: 15vh;
    margin-top: 10vh; 
    position: absolute;
    background-color: rgba(255, 255, 255, 0.594);
    border: solid 0.5vh;
    border-radius: 5vh;
    z-index: 1;
}
.menu {
    position: absolute;
    z-index: 2;
    width: 2%;
    margin-top: 37.7%;
    margin-left: 9%;
}

.menu:hover {
    opacity: 0.5;
}





