.arrow-menu {
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    margin-top: auto;
}
.arrow-left {
    height: 40px;
    width: 40px;
    margin-left: auto;
}
.arrow-right {
    height: 40px;
    width: 40px;
    margin-right: auto;
}
.arrow-left-shadow{
    margin-left: auto;
}
.arrow-right-shadow {
    margin-right: auto;
}

.arrow-left-shadow, .arrow-right-shadow {
    height: 40px;
    width: 40px;
    opacity: 0.1;
}
.arrow-left:hover {
    opacity: 0.5;
}
.arrow-right:hover {
    opacity: 0.5;
}