
.background0, .background1, .background2, .background3, .background4,
.background5, .background6, .background7, .background8, .background9,
.background10, .background11, .background12, .background13 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 0;
}

.background0 {
    background-image: url('../assets/background/homepage.jpg');
}
.background1 {
    background-image: url('../assets/background/nom.jpg');
}
.background2 {
    background-image: url('../assets/background/bienvenu.jpg');
}
.background3 {
    background-image: url('../assets/background/confrontation.jpg');
}
.background4 {
    background-image: url('../assets/background/questions.jpg');
}
.background5 {
    background-image: url('../assets/background/iskilled.jpg');
}
.background6 {
    background-image: url('../assets/background/découverte.jpg');
}
.background7 {
    background-image: url('../assets/background/confrontation2.jpg');
}
.background8 {
    background-image: url('../assets/background/q0.jpg');
}
.background9 {
    background-image: url('../assets/background/q1.jpg');
}
.background10 {
    background-image: url('../assets/background/q2.jpg');
}
.background11 {
    background-image: url('../assets/background/recap.jpg');
}
.background12 {
    background-image: url('../assets/background/mail.jpg');
}
.background13 {
    background-image: url('../assets/background/fin.jpg');
}