@import "./Arrows.css" ;

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}